<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<string>素材三层分类(type-&gt;category-&gt;kind)及对应文件夹名称，如果没有下一级，扩展名字段(packExtension)必填</string>
	<key>type</key>
	<dict>
		<key>1</key>
		<dict>
			<key>title</key>
			<string>theme</string>
			<key>title_zh</key>
			<string>主题</string>
			<key>folderName</key>
			<string>theme</string>
			<key>category</key>
			<dict>
				<key>1</key>
				<dict>
					<key>title</key>
					<string>Full Track theme</string>
					<key>title_zh</key>
					<string>全轨主题</string>
					<key>folderName</key>
					<string>fullTrack</string>
					<key>packExtension</key>
					<array>
						<string>theme</string>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>title</key>
					<string>Paragraph  theme</string>
					<key>title_zh</key>
					<string>段落主题</string>
					<key>folderName</key>
					<string>paragraph </string>
					<key>packExtension</key>
					<array>
						<string>theme</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>title</key>
			<string>Filter</string>
			<key>title_zh</key>
			<string>滤镜</string>
			<key>folderName</key>
			<string>filter</string>
			<key>category</key>
			<dict>
				<key>1</key>
				<dict>
					<key>title</key>
					<string>Color mixing</string>
					<key>title_zh</key>
					<string>调色滤镜</string>
					<key>folderName</key>
					<string>colorMixing</string>
					<key>kind</key>
					<dict>
						<key>1</key>
						<dict>
							<key>title</key>
							<string>LUT</string>
							<key>title_zh</key>
							<string>LUT</string>
							<key>folderName</key>
							<string>lut</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>2</key>
						<dict>
							<key>title</key>
							<string>Normal</string>
							<key>title_zh</key>
							<string>普通</string>
							<key>folderName</key>
							<string>normal</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
					</dict>
				</dict>
				<key>2</key>
				<dict>
					<key>title</key>
					<string>Effect</string>
					<key>title_zh</key>
					<string>特效</string>
					<key>folderName</key>
					<string>effect</string>
					<key>kind</key>
					<dict>
						<key>1</key>
						<dict>
							<key>title</key>
							<string>Basic</string>
							<key>title_zh</key>
							<string>基础</string>
							<key>folderName</key>
							<string>basic</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>2</key>
						<dict>
							<key>title</key>
							<string>Atmosphere</string>
							<key>title_zh</key>
							<string>氛围</string>
							<key>folderName</key>
							<string>atmosphere</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>3</key>
						<dict>
							<key>title</key>
							<string>Bling</string>
							<key>title_zh</key>
							<string>Bling</string>
							<key>folderName</key>
							<string>bling</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>4</key>
						<dict>
							<key>title</key>
							<string>Dynamic</string>
							<key>title_zh</key>
							<string>动感</string>
							<key>folderName</key>
							<string>dynamic</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>5</key>
						<dict>
							<key>title</key>
							<string>Nature</string>
							<key>title_zh</key>
							<string>自然</string>
							<key>folderName</key>
							<string>nature</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>6</key>
						<dict>
							<key>title</key>
							<string>light and shadow</string>
							<key>title_zh</key>
							<string>光影</string>
							<key>folderName</key>
							<string>lightShadow</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>7</key>
						<dict>
							<key>title</key>
							<string>Retro</string>
							<key>title_zh</key>
							<string>复古</string>
							<key>folderName</key>
							<string>retro</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>8</key>
						<dict>
							<key>title</key>
							<string>split screen</string>
							<key>title_zh</key>
							<string>分屏</string>
							<key>folderName</key>
							<string>splitScreen</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>9</key>
						<dict>
							<key>title</key>
							<string>Border</string>
							<key>title_zh</key>
							<string>边框</string>
							<key>folderName</key>
							<string>border</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>10</key>
						<dict>
							<key>title</key>
							<string>Comics</string>
							<key>title_zh</key>
							<string>漫画</string>
							<key>folderName</key>
							<string>comics</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>11</key>
						<dict>
							<key>title</key>
							<string>Texture</string>
							<key>title_zh</key>
							<string>纹理</string>
							<key>folderName</key>
							<string>Texture</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
					</dict>
				</dict>
				<key>3</key>
				<dict>
					<key>title</key>
					<string>Animation</string>
					<key>title_zh</key>
					<string>动画</string>
					<key>folderName</key>
					<string>animation</string>
					<key>kind</key>
					<dict>
						<key>1</key>
						<dict>
							<key>title</key>
							<string>In Animation</string>
							<key>title_zh</key>
							<string>入场动画</string>
							<key>folderName</key>
							<string>inAnimation</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>2</key>
						<dict>
							<key>title</key>
							<string>Out Animation</string>
							<key>title_zh</key>
							<string>出场动画</string>
							<key>folderName</key>
							<string>outAnimation</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>3</key>
						<dict>
							<key>title</key>
							<string>Combined animation</string>
							<key>title_zh</key>
							<string>组合动画</string>
							<key>folderName</key>
							<string>combinedAnimation</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>title</key>
			<string>Caption</string>
			<key>title_zh</key>
			<string>字幕</string>
			<key>folderName</key>
			<string>caption</string>
			<key>category</key>
			<dict>
				<key>1</key>
				<dict>
					<key>title</key>
					<string>Traditional Caption</string>
					<key>title_zh</key>
					<string>传统字幕</string>
					<key>folderName</key>
					<string>traditionalCaption</string>
					<key>kind</key>
					<dict>
						<key>1</key>
						<dict>
							<key>title</key>
							<string>Normal</string>
							<key>title_zh</key>
							<string>普通</string>
							<key>folderName</key>
							<string>normal</string>
							<key>packExtension</key>
							<array>
								<string>captionstyle</string>
							</array>
						</dict>
						<key>2</key>
						<dict>
							<key>title</key>
							<string>Border</string>
							<key>title_zh</key>
							<string>边框</string>
							<key>folderName</key>
							<string>border</string>
							<key>packExtension</key>
							<array>
								<string>captionstyle</string>
							</array>
						</dict>
						<key>3</key>
						<dict>
							<key>title</key>
							<string>Word by word</string>
							<key>title_zh</key>
							<string>逐字</string>
							<key>folderName</key>
							<string>wordByWord</string>
							<key>packExtension</key>
							<array>
								<string>captionstyle</string>
							</array>
						</dict>
						<key>4</key>
						<dict>
							<key>title</key>
							<string>Dynamic Base Chart</string>
							<key>title_zh</key>
							<string>动态底图</string>
							<key>folderName</key>
							<string>dynamicBaseChart</string>
							<key>packExtension</key>
							<array>
								<string>captionstyle</string>
							</array>
						</dict>
					</dict>
				</dict>
				<key>2</key>
				<dict>
					<key>title</key>
					<string>Module Caption</string>
					<key>title_zh</key>
					<string>模块字幕</string>
					<key>folderName</key>
					<string>moduleCaption</string>
					<key>kind</key>
					<dict>
						<key>1</key>
						<dict>
							<key>title</key>
							<string>Flower character</string>
							<key>title_zh</key>
							<string>花字</string>
							<key>folderName</key>
							<string>flowerCharacter</string>
							<key>packExtension</key>
							<array>
								<string>captionrenderer</string>
							</array>
						</dict>
						<key>2</key>
						<dict>
							<key>title</key>
							<string>Bubble bottom chart</string>
							<key>title_zh</key>
							<string>气泡底图</string>
							<key>folderName</key>
							<string>bubbleBottomChart</string>
							<key>packExtension</key>
							<array>
								<string>captioncontext</string>
							</array>
						</dict>
						<key>3</key>
						<dict>
							<key>title</key>
							<string>Caption In Animation</string>
							<key>title_zh</key>
							<string>字幕入场动画</string>
							<key>folderName</key>
							<string>captionInAnimation</string>
							<key>packExtension</key>
							<array>
								<string>captioninanimation</string>
							</array>
						</dict>
						<key>4</key>
						<dict>
							<key>title</key>
							<string>Caption out Animation</string>
							<key>title_zh</key>
							<string>字幕出场动画</string>
							<key>folderName</key>
							<string>captionOutAnimation</string>
							<key>packExtension</key>
							<array>
								<string>captionoutanimation</string>
							</array>
						</dict>
						<key>5</key>
						<dict>
							<key>title</key>
							<string>Caption combined animation</string>
							<key>title_zh</key>
							<string>字幕组合动画</string>
							<key>folderName</key>
							<string>captionCombinedAnimation</string>
							<key>packExtension</key>
							<array>
								<string>captionanimation</string>
							</array>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>title</key>
			<string>Sticker</string>
			<key>title_zh</key>
			<string>贴纸</string>
			<key>folderName</key>
			<string>sticker</string>
			<key>category</key>
			<dict>
				<key>1</key>
				<dict>
					<key>title</key>
					<string>Normal</string>
					<key>title_zh</key>
					<string>普通</string>
					<key>folderName</key>
					<string>normal</string>
					<key>packExtension</key>
					<array>
						<string>animatedsticker</string>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>title</key>
					<string>Audio stickers</string>
					<key>title_zh</key>
					<string>有声贴纸</string>
					<key>folderName</key>
					<string>audioStickers</string>
					<key>packExtension</key>
					<array>
						<string>animatedsticker</string>
					</array>
				</dict>
				<key>3</key>
				<dict>
					<key>title</key>
					<string>Animation</string>
					<key>title_zh</key>
					<string>动画</string>
					<key>folderName</key>
					<string>animation</string>
					<key>kind</key>
					<dict>
						<key>1</key>
						<dict>
							<key>title_zh</key>
							<string>入场动画</string>
							<key>title</key>
							<string>In Animation</string>
							<key>folderName</key>
							<string>inAnimation</string>
							<key>packExtension</key>
							<array>
								<string>animatedsticker</string>
							</array>
						</dict>
						<key>2</key>
						<dict>
							<key>title_zh</key>
							<string>出场动画</string>
							<key>title</key>
							<string>Out Animation</string>
							<key>folderName</key>
							<string>outAnimation</string>
							<key>packExtension</key>
							<array>
								<string>animatedsticker</string>
							</array>
						</dict>
						<key>3</key>
						<dict>
							<key>title_zh</key>
							<string>组合动画</string>
							<key>title</key>
							<string>Combined animation</string>
							<key>folderName</key>
							<string>combinedAnimation</string>
							<key>packExtension</key>
							<array>
								<string>animatedsticker</string>
							</array>
						</dict>
					</dict>
				</dict>
				<key>20000</key>
				<dict>
					<key>title</key>
					<string>Sticker Template</string>
					<key>title_zh</key>
					<string>贴纸模板</string>
					<key>folderName</key>
					<string>stickerTemplate</string>
					<key>packExtension</key>
					<array>
						<string>animatedsticker</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>title</key>
			<string>Transition</string>
			<key>title_zh</key>
			<string>视频转场</string>
			<key>folderName</key>
			<string>transition</string>
			<key>category</key>
			<dict>
				<key>1</key>
				<dict>
					<key>title_zh</key>
					<string>2D</string>
					<key>title</key>
					<string>2D</string>
					<key>folderName</key>
					<string>2D</string>
					<key>packExtension</key>
					<array>
						<string>videotransition</string>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>title_zh</key>
					<string>3D</string>
					<key>title</key>
					<string>3D</string>
					<key>folderName</key>
					<string>3D</string>
					<key>packExtension</key>
					<array>
						<string>videotransition</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>9</key>
		<dict>
			<key>title</key>
			<string>Particle</string>
			<key>title_zh</key>
			<string>粒子</string>
			<key>folderName</key>
			<string>particle</string>
			<key>category</key>
			<dict>
				<key>1</key>
				<dict>
					<key>title_zh</key>
					<string>全屏粒子</string>
					<key>title</key>
					<string>Full screen</string>
					<key>folderName</key>
					<string>fullScreen</string>
					<key>packExtension</key>
					<array>
						<string>videofx</string>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>title_zh</key>
					<string>手绘</string>
					<key>title</key>
					<string>Hand painted</string>
					<key>folderName</key>
					<string>handPainted</string>
					<key>packExtension</key>
					<array>
						<string>videofx</string>
					</array>
				</dict>
				<key>3</key>
				<dict>
					<key>title_zh</key>
					<string>触发</string>
					<key>title</key>
					<string>Trigger</string>
					<key>folderName</key>
					<string>trigger</string>
					<key>kind</key>
					<dict>
						<key>1</key>
						<dict>
							<key>title_zh</key>
							<string>眼睛触发</string>
							<key>title</key>
							<string>Eyes Trigger</string>
							<key>folderName</key>
							<string>eyesTrigger</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>2</key>
						<dict>
							<key>title_zh</key>
							<string>手势触发</string>
							<key>title</key>
							<string>Gesture Trigger</string>
							<key>folderName</key>
							<string>gestureTrigger</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
						<key>3</key>
						<dict>
							<key>title_zh</key>
							<string>嘴部触发</string>
							<key>title</key>
							<string>Mouth Trigger</string>
							<key>folderName</key>
							<string>mouthTrigger</string>
							<key>packExtension</key>
							<array>
								<string>videofx</string>
							</array>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>13</key>
		<dict>
			<key>title</key>
			<string>推镜</string>
			<key>title_zh</key>
			<string>Zoom</string>
			<key>folderName</key>
			<string>zoom</string>
			<key>category</key>
			<dict>
				<key>1</key>
				<dict>
					<key>title_zh</key>
					<string>普通</string>
					<key>title</key>
					<string>Normal</string>
					<key>folderName</key>
					<string>normal</string>
					<key>packExtension</key>
					<array>
						<string>$</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>14</key>
		<dict>
			<key>title</key>
			<string>AR props</string>
			<key>title_zh</key>
			<string>AR道具</string>
			<key>folderName</key>
			<string>arsence</string>
			<key>category</key>
			<dict>
				<key>1</key>
				<dict>
					<key>title_zh</key>
					<string>2D</string>
					<key>title</key>
					<string>2D</string>
					<key>folderName</key>
					<string>2D</string>
					<key>kind</key>
					<dict>
						<key>1</key>
						<dict>
							<key>title_zh</key>
							<string>眼睛触发</string>
							<key>title</key>
							<string>Eyes Trigger</string>
							<key>folderName</key>
							<string>eyesTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>2</key>
						<dict>
							<key>title_zh</key>
							<string>头部触发</string>
							<key>title</key>
							<string>Header trigger</string>
							<key>folderName</key>
							<string>headerTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>3</key>
						<dict>
							<key>title_zh</key>
							<string>嘴部触发</string>
							<key>title</key>
							<string>Mouth Trigger</string>
							<key>folderName</key>
							<string>mouthTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>4</key>
						<dict>
							<key>title_zh</key>
							<string>手势触发</string>
							<key>title</key>
							<string>Gesture Trigger</string>
							<key>folderName</key>
							<string>gestureTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>5</key>
						<dict>
							<key>title_zh</key>
							<string>正常</string>
							<key>title</key>
							<string>Normal</string>
							<key>folderName</key>
							<string>normal</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
					</dict>
				</dict>
				<key>2</key>
				<dict>
					<key>title_zh</key>
					<string>3D</string>
					<key>title</key>
					<string>3D</string>
					<key>folderName</key>
					<string>3D</string>
					<key>kind</key>
					<dict>
						<key>1</key>
						<dict>
							<key>title_zh</key>
							<string>眼睛触发</string>
							<key>title</key>
							<string>Eyes Trigger</string>
							<key>folderName</key>
							<string>eyesTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>2</key>
						<dict>
							<key>title_zh</key>
							<string>头部触发</string>
							<key>title</key>
							<string>Header trigger</string>
							<key>folderName</key>
							<string>headerTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>3</key>
						<dict>
							<key>title_zh</key>
							<string>嘴部触发</string>
							<key>title</key>
							<string>Mouth Trigger</string>
							<key>folderName</key>
							<string>mouthTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>4</key>
						<dict>
							<key>title_zh</key>
							<string>手势触发</string>
							<key>title</key>
							<string>Gesture Trigger</string>
							<key>folderName</key>
							<string>gestureTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>5</key>
						<dict>
							<key>title_zh</key>
							<string>正常</string>
							<key>title</key>
							<string>Normal</string>
							<key>folderName</key>
							<string>normal</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
					</dict>
				</dict>
				<key>3</key>
				<dict>
					<key>title_zh</key>
					<string>分割</string>
					<key>title</key>
					<string>Split</string>
					<key>folderName</key>
					<string>split</string>
					<key>kind</key>
					<dict>
						<key>1</key>
						<dict>
							<key>title_zh</key>
							<string>眼睛触发</string>
							<key>title</key>
							<string>Eyes Trigger</string>
							<key>folderName</key>
							<string>eyesTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>2</key>
						<dict>
							<key>title_zh</key>
							<string>头部触发</string>
							<key>title</key>
							<string>Header trigger</string>
							<key>folderName</key>
							<string>headerTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>3</key>
						<dict>
							<key>title_zh</key>
							<string>嘴部触发</string>
							<key>title</key>
							<string>Mouth Trigger</string>
							<key>folderName</key>
							<string>mouthTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>4</key>
						<dict>
							<key>title_zh</key>
							<string>手势触发</string>
							<key>title</key>
							<string>Gesture Trigger</string>
							<key>folderName</key>
							<string>gestureTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>5</key>
						<dict>
							<key>title_zh</key>
							<string>正常</string>
							<key>title</key>
							<string>Normal</string>
							<key>folderName</key>
							<string>normal</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
					</dict>
				</dict>
				<key>4</key>
				<dict>
					<key>title_zh</key>
					<string>前景</string>
					<key>title</key>
					<string>Prospects</string>
					<key>folderName</key>
					<string>prospects</string>
					<key>kind</key>
					<dict>
						<key>1</key>
						<dict>
							<key>title_zh</key>
							<string>眼睛触发</string>
							<key>title</key>
							<string>Eyes Trigger</string>
							<key>folderName</key>
							<string>eyesTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>2</key>
						<dict>
							<key>title_zh</key>
							<string>头部触发</string>
							<key>title</key>
							<string>Header trigger</string>
							<key>folderName</key>
							<string>headerTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>3</key>
						<dict>
							<key>title_zh</key>
							<string>嘴部触发</string>
							<key>title</key>
							<string>Mouth Trigger</string>
							<key>folderName</key>
							<string>mouthTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>4</key>
						<dict>
							<key>title_zh</key>
							<string>手势触发</string>
							<key>title</key>
							<string>Gesture Trigger</string>
							<key>folderName</key>
							<string>gestureTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>5</key>
						<dict>
							<key>title_zh</key>
							<string>正常</string>
							<key>title</key>
							<string>Normal</string>
							<key>folderName</key>
							<string>normal</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
					</dict>
				</dict>
				<key>5</key>
				<dict>
					<key>title_zh</key>
					<string>粒子</string>
					<key>title</key>
					<string>Particle</string>
					<key>folderName</key>
					<string>particle</string>
					<key>kind</key>
					<dict>
						<key>1</key>
						<dict>
							<key>title_zh</key>
							<string>眼睛触发</string>
							<key>title</key>
							<string>Eyes Trigger</string>
							<key>folderName</key>
							<string>eyesTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>2</key>
						<dict>
							<key>title_zh</key>
							<string>头部触发</string>
							<key>title</key>
							<string>Header trigger</string>
							<key>folderName</key>
							<string>headerTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>3</key>
						<dict>
							<key>title_zh</key>
							<string>嘴部触发</string>
							<key>title</key>
							<string>Mouth Trigger</string>
							<key>folderName</key>
							<string>mouthTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>4</key>
						<dict>
							<key>title_zh</key>
							<string>手势触发</string>
							<key>title</key>
							<string>Gesture Trigger</string>
							<key>folderName</key>
							<string>gestureTrigger</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
						<key>5</key>
						<dict>
							<key>title_zh</key>
							<string>正常</string>
							<key>title</key>
							<string>Normal</string>
							<key>folderName</key>
							<string>normal</string>
							<key>packExtension</key>
							<array>
								<string>arscene</string>
							</array>
						</dict>
					</dict>
				</dict>
				<key>6</key>
				<dict>
					<key>title_zh</key>
					<string>Avatar</string>
					<key>title</key>
					<string>Avatar</string>
					<key>folderName</key>
					<string>avatar</string>
					<key>packExtension</key>
					<array>
						<string>arscene</string>
					</array>
				</dict>
				<key>7</key>
				<dict>
					<key>title_zh</key>
					<string>手势触发</string>
					<key>title</key>
					<string>Gesture Trigger</string>
					<key>folderName</key>
					<string>gestureTrigger</string>
					<key>packExtension</key>
					<array>
						<string>arscene</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>15</key>
		<dict>
			<key>title</key>
			<string>Composite capton</string>
			<key>title_zh</key>
			<string>组合字幕</string>
			<key>folderName</key>
			<string>compositeCapton</string>
			<key>category</key>
			<dict>
				<key>1</key>
				<dict>
					<key>title_zh</key>
					<string>动态</string>
					<key>title</key>
					<string>Static</string>
					<key>folderName</key>
					<string>static</string>
					<key>packExtension</key>
					<array>
						<string>compoundcaption</string>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>title_zh</key>
					<string>静态</string>
					<key>title</key>
					<string>Dynamic</string>
					<key>folderName</key>
					<string>dynamic</string>
					<key>packExtension</key>
					<array>
						<string>compoundcaption</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>16</key>
		<dict>
			<key>title</key>
			<string>Photo album</string>
			<key>title_zh</key>
			<string>影集</string>
			<key>folderName</key>
			<string>photoAlbum</string>
			<key>packExtension</key>
			<array>
				<string>$</string>
			</array>
		</dict>
		<key>17</key>
		<dict>
			<key>title</key>
			<string>MIMO</string>
			<key>title_zh</key>
			<string>MIMO</string>
			<key>folderName</key>
			<string>MIMO</string>
			<key>packExtension</key>
			<array>
				<string>videofx</string>
			</array>
		</dict>
		<key>18</key>
		<dict>
			<key>title</key>
			<string>Capture Template</string>
			<key>title_zh</key>
			<string>拍摄模板</string>
			<key>folderName</key>
			<string>captureTemplate</string>
			<key>packExtension</key>
			<array>
				<string>videofx</string>
			</array>
		</dict>
		<key>19</key>
		<dict>
			<key>title</key>
			<string>Beauty Photography Template</string>
			<key>title_zh</key>
			<string>美摄模板</string>
			<key>folderName</key>
			<string>MeicamTemplate</string>
			<key>category</key>
			<dict>
				<key>1</key>
				<dict>
					<key>title_zh</key>
					<string>通用</string>
					<key>title</key>
					<string>General</string>
					<key>folderName</key>
					<string>General</string>
					<key>packExtension</key>
					<array>
						<string>template</string>
					</array>
				</dict>
				<key>2</key>
				<dict>
					<key>title_zh</key>
					<string>适合照片</string>
					<key>title</key>
					<string>Suitable for photos</string>
					<key>folderName</key>
					<string>Photos</string>
					<key>packExtension</key>
					<array>
						<string>template</string>
					</array>
				</dict>
				<key>3</key>
				<dict>
					<key>title_zh</key>
					<string>适合视频</string>
					<key>title</key>
					<string>Suitable for videos</string>
					<key>folderName</key>
					<string>Videos</string>
					<key>packExtension</key>
					<array>
						<string>template</string>
					</array>
				</dict>
				<key>4</key>
				<dict>
					<key>title_zh</key>
					<string>包装模板</string>
					<key>title</key>
					<string>Packaging Template</string>
					<key>folderName</key>
					<string>PackagingTemplate</string>
					<key>kind</key>
					<dict>
						<key>1</key>
						<dict>
							<key>title_zh</key>
							<string>片头模板</string>
							<key>title</key>
							<string>title template</string>
							<key>folderName</key>
							<string>TitleTemplate</string>
							<key>packExtension</key>
							<array>
								<string>template</string>
							</array>
						</dict>
						<key>2</key>
						<dict>
							<key>title_zh</key>
							<string>片尾模板</string>
							<key>title</key>
							<string>End Template</string>
							<key>folderName</key>
							<string>EndTemplate</string>
							<key>packExtension</key>
							<array>
								<string>template</string>
							</array>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>20</key>
		<dict>
			<key>title</key>
			<string>Make up</string>
			<key>title_zh</key>
			<string>美妆</string>
			<key>folderName</key>
			<string>makeup</string>
			<key>category</key>
			<dict/>
		</dict>
		<key>21</key>
		<dict>
			<key>title</key>
			<string>Looks</string>
			<key>title_zh</key>
			<string>妆容</string>
			<key>folderName</key>
			<string>looks</string>
			<key>category</key>
			<dict>
				<key>2</key>
				<dict>
					<key>title_zh</key>
					<string>妆容</string>
					<key>title</key>
					<string>Looks</string>
					<key>folderName</key>
					<string>looks</string>
					<key>packExtension</key>
					<array>
						<string>$</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>22</key>
		<dict>
			<key>category</key>
			<dict>
				<key>2</key>
				<dict>
					<key>packExtension</key>
					<array>
						<string>$</string>
					</array>
					<key>title_zh</key>
					<string>美型240点位</string>
					<key>folderName</key>
					<string>shape240</string>
					<key>title</key>
					<string>shape240</string>
				</dict>
				<key>1</key>
				<dict>
					<key>packExtension</key>
					<array>
						<string>$</string>
					</array>
					<key>folderName</key>
					<string>shape106</string>
					<key>title_zh</key>
					<string>美型106点位</string>
					<key>title</key>
					<string>shape106</string>
				</dict>
			</dict>
			<key>folderName</key>
			<string>beautyshape</string>
			<key>title_zh</key>
			<string>美型</string>
			<key>title</key>
			<string>Beauty Shape</string>
		</dict>
	</dict>
</dict>
</plist>
